* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
    display: none;
}

input[name='skin'],
input[name='animation'] {
    display: none;
}

[type='range'] {
    -webkit-appearance: none; /* 隐藏默认的样式 */
    height: 10px; /* 设置高度 */
    border-radius: 5px; /* 设置圆角 */
    background: #ddd; /* 设置背景 */
    outline: none; /* 去掉外边框 */
    opacity: 0.7; /* 设置透明度 */
    -webkit-transition: .2s; /* 添加过渡效果 */
    transition: opacity .2s;
}

[type='range']:hover {
    opacity: 1; /* 鼠标悬停时设置不透明度为1 */
}

[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none; /* 隐藏默认的样式 */
    appearance: none;
    width: 20px; /* 设置滑块的宽度 */
    height: 20px; /* 设置滑块的高度 */
    border-radius: 50%; /* 设置滑块的圆角 */
    background: #91b486; /* 设置滑块的背景 */
    cursor: pointer; /* 添加手形光标 */
}

[type='range']::-moz-range-thumb {
    width: 20px; /* 设置滑块的宽度 */
    height: 20px; /* 设置滑块的高度 */
    border-radius: 50%; /* 设置滑块的圆角 */
    background: #4caf50; /* 设置滑块的背景 */
    cursor: pointer; /* 添加手形光标 */
}

li::marker {
    content: '';
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: #616066;
}

header {
    z-index: 1;
    color: white;
    height: 40px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    background-color: #333333;
    box-shadow: #252525 0 0 2px 1px;
    -webkit-app-region: drag
}

main {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: self-start;
    justify-content: space-between;
}

button {
    padding: 2px;
}

#mask {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    color: white;
    display: none;
    font-size: 48px;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(111, 111, 111, .5);
}

#side {
    z-index: 1;
    color: white;
    height: 100%;
    padding: 10px;
    overflow: scroll;
    min-width: 300px;
    position: relative;
    background-color: #333333;
    box-shadow: #252525 0 0 2px 1px;
}

#side button {
    width: 42px;
    border: none;
    color: black;
    padding: 3px 0;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: gray 0 0 3px;
    background-color: rgb(240, 240, 240);
}

#side button:hover {
    background-color: #d5d5d5;
}

#side button:active {
    background-color: #bbbbbb;
}

#scene {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    height: 100% !important;
}

#resolution {
    top: 10px;
    left: 10px;
    z-index: 8;
    display: none;
    color: #d2d2d2;
    position: absolute;
}

#fileInput {
    width: 200px;
    cursor: pointer;
}

#colorInput {
    width: 42px;
    cursor: pointer;
}

.title.icon {
    left: 7px;
    gap: 10px;
    height: 100%;
    padding: 3px;
    display: flex;
    font-size: 20px;
    position: absolute;
    align-items: center;
}

.title.icon img {
    height: 100%;
    border-radius: 7px
}

.control-button {
    width: 50px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: transparent;
    -webkit-app-region: no-drag
}

.control-button:hover {
    background-color: #666666;
}

.control-button:active {
    background-color: #505050;
}

.control-button.close:hover {
    background-color: #de5757;
}

.control-button.close:active {
    background-color: #f11111;
}

.option-bar {
    display: flex;
    overflow: hidden;
    font-size: 12px;
    border-radius: 5px;
    background-color: #666666;
}

.option-bar .alpha-mode-radio {
    padding: 5px;
    cursor: pointer;
    transition: all .15s;
}

.option-bar .alpha-mode-radio:hover {
    background-color: #777777;
}

.option-bar .alpha-mode-radio.checked {
    background-color: #748d6f;
}

.row-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row {
    gap: 5px;
    padding: 3px;
    display: flex;
    margin: 5px 0 5px 0;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.col {
    gap: 5px;
    padding: 3px;
    display: flex;
    margin: 20px 0 20px 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.list {
    color: white;
    width: 100%;
    padding: 5px;
    min-height: 80px;
    user-select: none;
    border-radius: 5px;
    background-color: #585858;
}

.list li {
    border-radius: 5px;
}

.list li > * {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 7px 5px;
    justify-content: space-between;
}

.list .selected {
    background-color: #728181;
}

.list li .slot-alpha {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.option-label {
    width: 32px;
}

.option-value {
    width: 45px;
}

.slot-alpha-value {
    width: 20px;
}


#export-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

#export-box {
    top: 50%;
    left: 50%;
    z-index: 99;
    color: white;
    width: 450px;
    height: 300px;
    padding: 30px;
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: #3a3a3a;
    box-shadow: #555555 0 0 5px 5px;
    transform: translate(-50%, -50%);
}

#export-box.show {
    display: flex;
    animation: fadeIn 0.3s ease forwards;
}

#export-box.hide {
    display: none;
    animation: fadeOut 0.3s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.export-option.label {
    gap: 10px;
    flex-grow: 2;
    display: flex;
    font-size: 18px;
    flex-direction: column;
    align-items: flex-end;
}

.export-option.label > * {
    line-height: 35px;
    height: 34px;
}

.export-option.input {
    gap: 10px;
    height: 20px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.export-option.input > * {
    margin: 5px 0;
    height: 20px;
}

.path-select {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.export-option input:focus,
.export-option select:focus {
    outline: none;
}

.export-option input[type='text'] {
    height: 24px;
    border: none;
    padding: 0 5px;
    border-radius: 3px;
}

.export-option input[type='number'] {
    width: 50px;
    border: none;
    height: 24px;
    padding: 5px;
    border-radius: 3px;
}


.export-option button {
    border: none;
    cursor: pointer;
    padding: 3px 12px;
    margin-bottom: 1px;
    border-radius: 5px;
}

.export-option.input select {
    display: block;
    height: 30px;
    padding: 3px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.export-progress-show {
    left: 30px;
    bottom: 30px;
    display: flex;
    font-size: 18px;
    position: absolute;
}

.export-progress-wrapper {
    margin-right: 10px;
    border-radius: 50px;
    overflow: hidden;
}

#export-progress {
    height: 100%;
    width: 120px;
}

#progress-show {
    font-size: 20px;
    line-height: 24px;
}

.export-option.button {
    right: 30px;
    bottom: 20px;
    position: absolute;
}

.export-option.button button {
    color: white;
    font-size: 20px;
    padding: 7px 15px;
    background-color: #7e7e7e;
}

.export-option.button button:hover {
    background-color: #707070;
}

.export-option.button button:active {
    background-color: #606060;
}

.export-option.button button:disabled {
    cursor: not-allowed;
    background-color: #606060;
}

progress {
    background-color: transparent;
}

progress::-webkit-progress-value {
    background-color: #496e49;
    animation: progress 2s ease;
}

@keyframes progress {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}